.background {
    -fx-background-image: url("../images/menuBackground.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.background2 {
    -fx-background-image: url("../images/selectionBackground.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.backgroundGame {
    -fx-background-image: url("../images/Table.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.backgroundWin {
    -fx-background-image: url("../images/winBackground.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.backgroundHelp {
    -fx-background-image: url("../images/helpBackground.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.my-button1 {
    -fx-background-image: url("../images/play.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

.my-button2 {
    -fx-background-image: url("../images/exit.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

.my-button3 {
    -fx-background-image: url("../images/help.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

.my-button4 {
    -fx-background-image: url("../images/1Player.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

.my-button5 {
    -fx-background-image: url("../images/2Players.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

.my-button6 {
    -fx-background-image: url("../images/3Players.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

.my-button7 {
    -fx-background-image: url("../images/back.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

.my-button8 {
    -fx-background-image: url("../images/menu.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

.my-button9 {
    -fx-background-image: url("../images/exit2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-color: transparent;
}


.my-buttonTakeCard {
    -fx-background-image: url("../images/takeCard.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

.button-back {
    -fx-background-image: url("../images/back2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

.button-help {
    -fx-background-image: url("../images/help2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-color: transparent;
}


.button:hover {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-effect: dropshadow(gaussian, rgb(255, 166, 0),20,0.3,0,0);
}

.my-alert {
    -fx-background-color: linear-gradient(to bottom, #832a2a, #390808);
    -fx-border-color: linear-gradient(to bottom, #f8bc59, #d37300);
    -fx-border-width: 3px;
    -fx-padding: 25px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.7), 15, 0, 0, 5);
}

/* Texto del contenido */
.my-alert > .content.label {
    -fx-text-fill: #fff5e0;
    -fx-font-size: 20px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-wrap-text: true;
}

/* Encabezado */
.my-alert > .header-panel {
    -fx-background-color: transparent;
    -fx-text-fill: #ffeaa7;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

/*  Bot贸n solo dentro de la alerta */
.my-alert .button {
    -fx-background-color: linear-gradient(to bottom, #ffc15e, #bd6801);
    -fx-text-fill: #301801;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-padding: 6 14 6 14;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 6, 0, 0, 2);
}

/* Hover del bot贸n (solo dentro de la alerta) */
.my-alert .button:hover {
    -fx-background-color: linear-gradient(to bottom, #ffde9a, #f1a324);
    -fx-effect: dropshadow(gaussian, rgba(255,200,0,0.6), 10, 0.3, 0, 0);
}

/*  ALERTA DE INFORMACIN */
.my-info-alert {
    -fx-background-color: linear-gradient(to bottom, #832a2a, #390808);
    -fx-border-color: linear-gradient(to bottom, #f8bc59, #d37300);
    -fx-border-width: 3px;
    -fx-padding: 25px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.7), 15, 0, 0, 5);
}

.my-info-alert > .header-panel > .label {
    -fx-text-fill: #ffcc66; /* Color dorado */
    -fx-font-size: 40px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-weight: bold;
}

/* Texto del contenido */
.my-info-alert > .content.label {
    -fx-text-fill: #fff5e0;
    -fx-font-size: 18px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-wrap-text: true;
}

/* Encabezado */
.my-info-alert > .header-panel {
    -fx-background-color: transparent;
    -fx-text-fill: #ffeaa7;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

/* Bot贸n solo dentro de la alerta */
.my-info-alert .button {
    -fx-background-color: linear-gradient(to bottom, #ffc15e, #bd6801);
    -fx-text-fill: #301801;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-padding: 6 14 6 14;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 6, 0, 0, 2);
}

/* Hover del bot贸n */
.my-info-alert .button:hover {
    -fx-background-color: linear-gradient(to bottom, #ffde9a, #f1a324);
    -fx-effect: dropshadow(gaussian, rgba(255,200,0,0.6), 10, 0.3, 0, 0);
}